<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
      <a class="navbar-brand" href="/">ECOVIA APP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Principal</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'comentarios_completed' %}" class="nav-link"
              >Comentarios completados</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'comentarios' %}" class="nav-link">Comentarios sin completar</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'crear_comentario' %}" class="nav-link">Crear comentario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="/signin" class="nav-link">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a href="/signup" class="nav-link">Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  