
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examen Final</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
   
  </head>
  <body>

      <nav class="navbar navbar-expand-lg bg-success">
        <div class="container">
          <a class="navbar-brand" href="/">ECOVIA APLICACIÓN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'comentarios' %}" class="nav-link">Comentarios sin completar</a>
            </li>
            <li class="nav-item" >
              <a href="{% url 'comentarios_completed' %}" class="nav-link">Comentarios completados</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'crear_comentario' %}" class="nav-link">Crear Comentario</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
            {% else %}  
            <li class="nav-item">
              <a href="/signup" class="nav-link">Registrarse</a>
            </li>
            <li class="nav-item">
              <a href="/signin" class="nav-link">Iniciar Sesión</a>
            </li>
            {% endif %} 
            </ul>
          </div>
        </div>
      </nav>

    {% block content %}

    {% endblock %}

  </body>

</html>
