{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center display-3 py-5">Comentarios</h1>

        <ul class="list-group">
          {% for comentario in comentarios %}
          <a class="list-group-item" href="{% url 'comentario_detalle' comentario.id %}">
              <header class="d-flex justify-content-between">
                {% if comentario.important %}
                <h1 class="fw-bold text-success">{{comentario.title}}</h1>
                
                {% else %} 
                <h1 class="fw-bold">{{comentario.title}}</h1>  
                {% endif %}
                <p>{{comentario.user.username}}</p>
  
              </header>

              <p>{{comentario.description}}</p>
              
        
              <p>{{comentario.datecompleted|date:'M j Y:i'}}</p>
            
          </a>
          {% endfor %}
        </ul>
      </div>
  </div>

</main>

{% endblock %}
