{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mx-auto">
            <h1 class="text-secondary">{{comentario.title}}</h1>
      
            {{error}}

            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
    
            <div class="mt-5 d-flex">
                <form action="{% url 'complete_comentario' comentario.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary">
                        Completar
                    </button>
                </form>
          
                <form action="{% url 'eliminar_comentario' comentario.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </div>     
        </div>
    </div>
</main>

{% endblock %}
