{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">

        <form action="/crear_comentario/" method="POST" class="card card-body">
            <h1>Crear comentario</h1>

            {{error}}

            {% csrf_token %}
            {{form}}

            <button class="btn btn-primary">
              Guardar
            </button>
        </form>
    </div>

  </div>
</main>
{% endblock %}