

{% extends 'base.html' %} 

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Ecovia App</h1>
    <p>¡Bienvenidos al portal de Ecovia donde puedes comentar lo que gustes!</p>

<div class="text-center">
  <a class="btn btn-dark" href="/signin/">
    Iniciar Sesion
  </a>
  <a class="btn btn-secondary" href="/signup">
    Registrarse
  </a>


</div>
  </section>
</main>
 

{% endblock %}

